[submodule "bcore"]
	url = https://github.com/Byron/bcore.git
	path = lib/components/core
	branch = refs/heads/master
[submodule "gui"]
	url = https://github.com/Byron/bgui.git
	path = lib/components/gui
	branch = refs/heads/master
[submodule "bshotgun"]
	url = https://github.com/Byron/bshotgun.git
	path = lib/integrations/shotgun
	branch = refs/heads/master
[submodule "shotgun-events"]
	url = https://github.com/Byron/shotgun-events
	path = lib/components/shotgun-events
	branch = refs/heads/master
[submodule "btank"]
	url = https://github.com/Byron/btank
	path = lib/integrations/tank
	branch = refs/heads/master
